@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
 
 :root {
    --primary-bg-color: #0C0C0C;
    --secondary-bg-color: #1F1F1F;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #aa1717;
    --test-color: #CF1B1B;
}

*, *::before,*::after {
    margin: 0;
    box-sizing: border-box;
} 

body {
    color: var(--primary-font-color);
    font-family: 'Karla', sans-serif;
}

.logo {
    width: 100px;
}

li {
    list-style-type: none;
    color: var(--primary-font-color);
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--secondary-bg-color);
    position: fixed;
    width: 100%;
}

.primary-clr {
    color: var(--primary-font-color);
}

.primary-bg-clr {
    background-color: var(--primary-bg-color);
}

.secondary-color {
    color: var(--secondary-font-color);
}

.secondary-bg-clr {
    background-color: var(--secondary-bg-color);
}

.nav-link-a{
    transition: all 0.5s ease;
    padding-bottom: 5px;
}

.nav-link-a:hover {
    border-bottom: 3px solid var(--secondary-bg-color);
}

button {
    transition: all 0.3s ease;
}

button:hover{
    background-color: var(--test-color);
}

.presentation-section, .about-section, .skills-section, .projects-section, .contact-section {
    background-color: var(--primary-bg-color);
}

.presentation-section, .about-section {
    padding-top: 25%;
}

.red-font {
    color: var(--secondary-font-color);
}

.red-bg-btn {
    background-color: var(--secondary-font-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.red-bg-btn a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.my-img {
    width: 50%;
    transition: all 0.8s ease-in;
    max-height: 500px;
}


.about-tittle, .skills-tittle, .projects-tittle {
    font-size: 40px;
    color: var(--secondary-font-color);
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}

.about-text {
    padding: 40px;
}

.cv-container {
    margin-top: 20px;
    padding-bottom: 20px;
}

.cv {
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
}

.projects {
    height: 200px;
    overflow: hidden;
}


.img-projects{
    height: 200px;
    width: 100%;
    transition: all 0.5s ease;
}

.img-projects:hover {
    transform: scale(1.2);
}

textarea {
    resize: none;
  }

footer {
    background-color: var(--secondary-bg-color);
    padding: 25px;
}


@media screen and (min-width: 768px){

    .logo {
        width: 100px;
    }

    .card-presentation-container {
        text-align: center;
        padding-top: 10%;
    }

    .my-img {
        margin-top: 20%;
    }

    .presentation-section, .about-section {
        padding-top: 5%;
    }

    .about-text {
        font-size: 2em;
    }

    .icon-1 {
        margin-right: 55px;
    }

    .icon-2 {
        margin-right: 70px;
    }

    .icon-3 {
        margin-right: 10px;
    }

    .icon-4 {
        margin-right: 35px;
    }

} 

